.row
.col-lg-3
  = form_tag '', method: :get do
    = simple_fields_for :palette do |f|
      = palette_field(f, :first_angle)
      = palette_field(f, :first_range)
      = palette_field(f, :second_angle)
      = palette_field(f, :second_range)
      = palette_field(f, :third_angle)
      = palette_field(f, :third_range)
      = palette_field(f, :lightness_jitter)
      = palette_field(f, :saturation_jitter)
      = palette_field(f, :initial_lightness)
      = palette_field(f, :initial_saturation)
      = palette_field(f, :minimum_color_distance)
      = f.submit
.col-lg-9
  .row
    %h2 Generated Palettes
    - @palettes.each_with_index do |palette, i|
      - colors = palette.generate(count: 15).map(&:to_css)
      .row
        .col-lg-3
          .color-wheel{id: "color-wheel-#{i}", data: {ranges: wheel_ranges(palette)}}
        .col-lg-9
          %table
            %tbody
              %tr
                %td{colspan:3}
                  Angle Offset: #{palette.angle_offset}
              %tr
                - colors.each do |color|
                  %td{style: "text-align: center; width: 80px; height: 120px; background: #{color}"}= color
        %br
