.row
.col-lg-3
  = form_tag '', method: :get do
    = simple_fields_for :palette do |f|
      = palette_field(f, :first_angle)
      = palette_field(f, :first_range)
      = palette_field(f, :second_angle)
      = palette_field(f, :second_range)
      = palette_field(f, :third_angle)
      = palette_field(f, :third_range)
      = palette_field(f, :lightness_jitter)
      = palette_field(f, :saturation_jitter)
      = palette_field(f, :initial_lightness)
      = palette_field(f, :initial_saturation)
      = palette_field(f, :minimum_color_distance)
      = f.submit
.col-lg-9
  .row
    %h2 Selected Hue Ranges
    #color-wheel{data: {ranges: wheel_ranges}}
  .row
    %h2 Generated Palettes
    - @palettes.each do |colors|
      %table
        %tbody
          %tr
            %td
              #{colors.length} Colors
          - colors.each do |color|
            %td{style: "text-align: center; width: 80px; height: 120px; background: #{color}"}= color
    %br
